.contact {
  display: flex;
  color: white;
  align-items: center;
  background-color: black;
  margin-bottom: 100vh;
}
.animatepen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
}
.pen-open {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cap-pen {
  height: 100px;
  width: auto;
  z-index: 46;
}
.pen-pen {
  height: 93px;
  width: auto;
  z-index: 45;
  padding-bottom: 10px;
  padding-left: 31.6px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.contact-form textarea {
  height: 10rem;
  width: calc(50vw - 1.2rem);
  outline: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: none;
}
.contact-info {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.contact-info input {
  height: 3rem;
  width: calc(25vw - 1.6rem);
  outline: none;
  font-size: 1.2rem;
  padding: 0 0.6rem;
  border: none;
}
.btn-submit {
  margin-left: 50vw;
  transform: translateX(-50%);
  margin-top: 0.8rem;
  height: 3rem;
  width: 7rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
}
.btn-submit:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}
.h2text {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Lucida Console", "Courier New", monospace;
}

@media only screen and (max-width: 1000px) {
  .cap-pen {
    height: 80px;
  }
  .pen-pen {
    height: 74px;
    padding-left: 26.5px;
  }
}
@media only screen and (max-width: 800px) {
  .cap-pen {
    height: 48px;
  }
  .pen-pen {
    height: 44px;
    padding-bottom: 5px;
    padding-left: 16.5px;
  }
  .contact-form textarea {
    height: 8rem;
    width: calc(60vw);
    font-size: 1rem;
  }
  .contact-info {
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    align-items: center;
  }
  .contact-info input {
    height: 2.5rem;
    width: 60vw;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .btn-submit {
    height: 2.5rem;
    width: 6rem;
    font-size: 1rem;
    margin-left: calc(60vw - 4.8rem);
    transform: unset;
  }
  .h2text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .cap-pen {
    height: 38px;
  }
  .pen-pen {
    height: 34px;
    padding-left: 15.5px;
  }
  .contact-form textarea {
    height: 6rem;
  }
  .contact-info {
    margin-bottom: 0.8rem;
  }
  .contact-info input {
    height: 2rem;
    margin-top: 0.8rem;
  }
  .btn-submit {
    height: 2rem;
    font-size: 1rem;
  }
  .h2text {
    font-size: 1.5rem;
  }
}
