.contact {
  display: flex;
  color: white;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin-bottom: 100vh;
}
.animatepen {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
}
.pen-open {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cap-pen {
  height: 100px;
  width: auto;
  z-index: 46;
}
.pen-pen {
  height: 93px;
  width: auto;
  z-index: 45;
  padding-bottom: 10px;
  padding-left: 31.6px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.contact-form textarea {
  height: 10rem;
  width: calc(50vw - 0.8rem);
  outline: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: none;
}
.contact-info {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.contact-info input {
  height: 3rem;
  width: calc(25vw - 1.2rem);
  outline: none;
  font-size: 1.2rem;
  padding: 0rem 0.2rem 0rem 0.6rem;
  border: none;
}
.btn-submit {
  margin-left: 50vw;
  transform: translateX(-50%);
  margin-top: 0.8rem;
  height: 3rem;
  width: 7rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
}
.btn-submit:hover {
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px solid white;
}
.h2text {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Lucida Console", "Courier New", monospace;
}

@media only screen and (max-width: 1000px) {
  .cap-pen {
    height: 80px;
  }
  .pen-pen {
    height: 74px;
    padding-left: 26.5px;
  }
}
@media only screen and (max-width: 800px) {
  .cap-pen {
    height: 48px;
  }
  .pen-pen {
    height: 44px;
    padding-bottom: 5px;
    padding-left: 16.5px;
  }
}
