body {
  background-color: rgb(0, 0, 0);
  margin: 0rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:white;font-size:24px;'><text y='50%'>⦿</text></svg>")
      16 0,
    auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.table-div {
  display: table;
  height: auto;
  width: 100vw;
}

.image-warpper {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  position: relative;
  /* top: 0; */
  transition: transform 2s cubic-bezier(0.25, 0.51, 0.29, 1);
  /* scroll-behavior: smooth; */
}
.image-wrapper-hold {
  z-index: 400;
  position: fixed;
  top: 0;
}

.conatiner-scroll {
  top: 0;
  /* position: absolute; */
  position: static;
  z-index: 4000;
  height: 500vh;
  width: 100vw;
  color: rgb(62, 62, 62);
  background: transparent;
  background-color: rgba(71, 224, 224, 0.6);
}
.make-top100 {
  position: absolute;
  top: 100vh;
}

.conatiner-scroll-hold {
  position: fixed;
}

#image-track {
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  width: auto;
  align-items: center;
  gap: 2.5vmin;
  position: absolute;
  transform: translateX(25%);
  user-select: none; /* -- Prevent image highlighting --  */
}

#image-track > .image {
  scroll-behavior: smooth;
  width: 34vmin;
  height: 50vh;
  object-fit: cover;
  background-position: center;
  object-position: 100%;
  transition: object-position 2500ms cubic-bezier(0.25, 0.51, 0.29, 1);
  animation: heightCompression 1.5s ease-in-out;
  transition: transform 2.5s cubic-bezier(0.25, 0.51, 0.29, 1);
  animation-fill-mode: forwards;
}

#image-track:nth-child(5) {
  animation-delay: 0.2s;
}
#image-track:nth-child(4) {
  animation-delay: 0.4s;
}
#image-track:nth-child(3) {
  animation-delay: 0.6s;
}
#image-track:nth-child(2) {
  animation-delay: 0.8s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(25%);
  }
}
@keyframes heightCompression {
  0% {
    height: 110vh;
  }

  100% {
    height: 50vh;
  }
}
#image-track {
  animation: slideInFromLeft 1.2s ease-in-out;
}

.fillimage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* transform: translate(-50%, 50%); */
  background-position: center;
  transform: translateX(-50%);
  object-fit: cover;
  transition: all 0.9s;
  object-fit: cover;
}
