body {
  background-color: rgb(0, 0, 0);
  margin: 0rem;
  padding: 0rem;
  position: relative;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:white;font-size:24px;'><text y='50%'>⦿</text></svg>")
      16 0,
    auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
@media screen and (min-aspect-ratio: 16/10) {
  /* Styles for wider screens */

  .image-warpper {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100vw;
  }
  #image-track {
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 100vh;
    width: max-content;
    align-items: center;
    gap: 1.5rem;
    transform: translateX(40%);
    user-select: none; /* -- Prevent image highlighting --  */
  }
  .image-container {
    width: 22vw;
    height: 60vh;
  }
  .image {
    width: 22vw;
    height: 60vh;
    object-fit: cover;
    object-position: 100% center;
  }
  .github-button {
    position: absolute;
    /* top: +60vh; */
    margin-top: 56vh;
    /* margin-right: 20vw; */
    margin-left: -21.5vw;
    z-index: 300;
    width: 3.5rem;
    height: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
  }
  .externallink-button {
    margin-left: -17vw;
    position: absolute;
    margin-top: 56vh;
    z-index: 300;
    width: 3.5rem;
    height: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
  }
  .project-title {
    margin-left: 11vw;
    position: absolute;
    margin-top: -31vh;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    text-align: center;
    /* color: rgb(186, 30, 30); */
    font-weight: 800;
    height: 62vh;
    width: 22vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .project-title:hover {
    /* background-color: rgba(0, 0, 0, 0.7); */
  }
}
