.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rem 10% 20rem 10%;
  text-align: justify;
  color: rgb(255, 255, 255);
}

.about-content {
  font-size: 6rem;
  text-align: justify;
  font-weight: bolder;
}
