.about-container{
    /* background-color: red; */
    display: flex;
    height: max-content;
    padding: 4rem 17% 2rem 17%;
    background-color: rgb(15, 39, 41);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    position: absolute;
    
}
.intro{
    
    display: flex;
    text-align: center;
    /* color:rgb(46, 165, 153); */
    color: rgb(46, 165, 153);
    /* padding: 0rem 0rem 0rem 2rem; */
    /* height: max-content;
    width: max-content; */
}

/* .intro:hover + .hover-cisrcle { 
    background-color: rgb(46, 165, 153);
    height: 300px;
    z-index: 1;
    width: 300px;
    border-radius: 50%;
    mix-blend-mode:difference ;
    position: absolute;
}  */